<div>
  <h2 class="mt-3 pb-4 fw-bolder">Tweets</h2>
  {{#if currentUser}}
<form method="POST" action="/tweets">
  <div class="mb-3">
    <label class="form-label">Cuentanos que piensas!</label>
    <textarea name="message" class="form-control" rows="2"></textarea>
  </div>
 <div class="pb-3 border-bottom">
  <button type="submit" class="btn btn-success ">Twittear!</button>
 </div>
{{/if}}
</form>

<div>
  {{#unless currentUser}}
      <div class="mb-3 d-flex border-bottom pb-3">
        <a class="btn btn-primary" href="/login">Log in</a>
      </div>
    {{/unless}}
</div>
<div class='row g-2'>
  {{#each tweets as |tweet|}}
    <div class='col'>
      <div class='card border border-0'>
        {{> tweet tweet=tweet}}
      </div>
    </div>
  {{/each}}
</div>
